@layout('layouts/main')

@section('styles')
  <link rel="stylesheet" href="css/gudangbarang.css">
@endsection

@section('content')
{{--  code  --}}
@endsection

@section('scripts')
  <script src="js/gudangbarang.js"></script>
@endsection